/*
<uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900
// <width>: Use a value from 62.5 to 100
*/ 

.noto-sans-mono-bodytext{
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" normal;
}

/*
<uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 700
*/ 

.noto-emoji-emoj {
    font-family: "Noto Emoji", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #ffffff;
    max-width: 600px;
    color: rgb(0, 0, 150);
    line-height: 1.2rem;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 0.8rem;
    font-weight: normal;
    margin: 40px auto;
    padding: 0 20px;
}

code {
    font-size: 0.8rem;
    color: rgb(0,0,150);
}

note {
    font-style: italic;
    font-weight: light;
}

h1 {
    font-weight: 500;
    font-size: 0.9rem;
    margin-top: 1.5rem;
}

h2 {
    font-size: 0.9rem;
    font-weight: 400;
}

hr {
    margin-top: 2em;
    border: none;
    background-color: rgb(0,0,150);
    color: rgb(0, 0, 150);
    height: 2px;
}

a {
    color: #535353;
}

a:hover {
    color: rgb(250, 93, 50);
}

img {
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 87%;
    align-content: center;
}

input {
    font-family: inherit;
}

div {
    text-align: center;
}